button {
    padding: 15px 20px;
    margin: 5px;
    background-color: indianred;
    border: none;
    color:beige ;
    font-weight: 600;

}

button:hover {
    background-color: tomato;
    color: white;
    cursor: pointer;
}